node_modules
dist
*.local
*.env

examples/quickstart/tsconfig.app.tsbuildinfo
examples/quickstart/tsconfig.node.tsbuildinfo
examples/stock_data_on_panel/tsconfig.app.tsbuildinfo
examples/stock_data_on_panel/tsconfig.node.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
