node_modules
dist
*.local
*.env

*tsconfig.app.tsbuildinfo
*tsconfig.node.tsbuildinfo
*tsconfig.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.claude/*
